*
{
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body
{
  font-family: montserrat;
}

/*navigation-bar*/

nav
{
background:#fff;
box-shadow: 2px 3px 3px 5px #89023e;
height: 80px;
width: 100%;
}

.logo
{
  color:#89023e;
  font-size: 35px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 10px;
}
nav ul li
{
  display:inline;
  line-height: 80px;
  margin: 0 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #89023e;

}
ul li a{
  color:#fff;
  font-size: 17px;
  font-family: 'Courier New', Courier, monospace;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a:hover{
  color:#89023e;
  background-color: #fff;
  transition: .5s;
}
.checkbtn
{
  font-size: 30px;
  color: #89023e;
  float: right;

  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check
{
  display: none;
}
@media(max-width:952px)
{
  .logo
  {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media(max-width:858px)
{
  .checkbtn{
    display: block;
  }
  nav ul
  {
    position: fixed;
    width: 100%;
    height: 80vh;
    background:#89023e;
    top:80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1;
  }
nav ul li
{
  display: block;
  margin: 50px 0;
  line-height: 30px;
}
nav ul li a{
  font-size: 20px;
}
a:hover,a.active{
  background: none;
  color:#fff;
  font-size: large;
}
#check:checked ~ ul{
  left: 0;
}
}
    









/*main*/
main
{
  margin-bottom: 20px;
  padding: 0%;
  width: 100%;
  height: auto;
  margin-top: 0.5%;
}
section
{
  display: flex;
  flex-direction:column;
  justify-content: center;
  width:100%;
  overflow: hidden;
}
.image
{
  text-align: center;
  opacity: 0.8;
  font-size: xx-large;
  font-weight: bold;
  word-spacing: 4px;
  letter-spacing: 1px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.image img
{
  width: 100%;
  height:350px;
  text-align: center;
}
.image-one
{
  position:absolute;
  top: 30%;
  right:35%;
}
@media (width:1440px)
{
  .image-one
  {
    position:absolute;
    top: 30%;
    right:33%;
  }
}
@media(max-width:900px) and (min-width:610px)
{
  .image-one{
  position:absolute;
  top: 30%;
  right:25%;
  }
}
@media (max-width:600px)
{
  .image-one
  {
    position:absolute;
  right:8%;
  }
}
#one{
  font-size: 80px;
  color: #fff;
  text-align: center;
}
#two{
  color: #fff;
}
.icons{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icons div{
  padding:2%;
  margin-left:6%; 
  border: 5px solid white;
  border-radius: 50%;
  position:relative;
  top:-50px;
  left: -2%;
  font-size:xx-large;
  color: #fff;
}

@media(width:768px)
{
  .icons div{
   margin-left: 7%;
  }
}
@media (max-width:700px)
{
  .icons div{
    position: relative;
    top: -40px;
    left: 1%;
    margin-right:4%;
margin-left: 2%;
    padding:2.5% !important;
    font-size:larger;
  }
}
.icon-one
{
  background-color: violet;
}
.icon-two
{
  background-color: aqua;
}
.icon-three
{
  background-color: rgb(110, 110, 185);
}
.icon-four
{
  background-color:rgb(7, 85, 7);
}
.icon-five
{
  background-color:rgb(255, 0, 106);
}
.position{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.position div{
  text-align: center;
  position:relative;
  left: -1%;
  font-size:large;
  margin-left:5%;
  padding-right:3%;
  margin-top: -2.5%;
  font-weight: bold;
}
@media(max-width:1200px) and (min-width:700px)
{
  .position div{
    left: 1%;
    margin-left:2%;
    margin-right:2%;
    font-size:large;
  }
}
@media(max-width:700px) and (min-width:350px)
{
  .position div{
    font-size: small;
    margin-left:1%;
    margin-right: 1%;
    margin-top:-6%;
    text-align: center;
  }
}
@media(max-width:320px)
{
  .position div{
    font-size: x-small;
    padding-right:3%;
    margin-left:3%;
    margin-top:-10%;
    text-align: center;
  }
}
.position-one
{
  color: violet;
}
.position-two
{
  color: aqua;
}
.position-three
{
  color: rgb(110, 110, 185);
}
.position-four
{
  color:rgb(7, 85, 7);
}
.position-five
{
  color:rgb(255, 0, 106);
}
.line
{
  border-left:3px solid rgb(158, 15, 74);
  height: 70px;
  position: relative;
  left: 50%;
  margin-top: 3%;
  margin-bottom:1%;
}
.explore{
  width: 100%;
  height: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  word-spacing: 1px; 
  margin: 0px;
}
.explore p{
  font-size:30px;
  color: #89023e;
  font-weight: 900;
  text-align: center;
  padding-left: 2%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.explore-box{
  display: flex;
  text-align: left;
  justify-content: space-around;
  color: #fff;
  margin-top: 3%;
}
.explore-box div{
  margin-top:1%;
  width:100%;
  margin-right:5%;
  margin-left:5%;
  padding:45px;
  border-radius: 7px;
  box-shadow: 1px 2px 1px 5px  rgb(226, 225, 225);
 background: linear-gradient(to bottom right, #89023e,#db2b7a);
}
@media (max-width:800px){
.explore-box
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left:-10%;
  width: 120%;
}
.explore-box div{
  width: 80%;
}
}
.explore-two h2{
  border-bottom: 2px solid rgb(248, 248, 117) ;
  margin-bottom: 20px;
}
.explore-two ol
{
  margin-top: 4%;
  color: #fff;
}
.explore-one h2{
  border-bottom: 2px solid rgb(248, 248, 117) ;
  margin-bottom: 20px;
}
  .items{
    height: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1.5%;
}
.slider{
  width: 800px;
  height: 450px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  border: 3px solid #db2b7a;
  background-image: url('goi2.jpeg');
  background-size: cover;
}
.hero{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  word-spacing: 1px; 
}
.slides
{
  width:900%;
  height: 100px;
display: flex;

}
.slides input{
  display:none ;
}
.slide{
  width: 20%;
  height:30px;
  transition: 2s;
}
.slide img{
  width: 900px;
  height: 500px;
  background-size: cover;
}
.navigation-manual{
position: relative;
top:65.5%;
width: 800px;
display: flex;
justify-content: center;
}
.manual-btn
{
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child){
  margin-right: 40px;
}
.manual-btn:hover{
  background:none;
}
#radio1:checked ~ .first{
margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -20%;
}
#radio3:checked ~ .first{
      margin-left: -40%;
}
#radio4:checked ~ .first{
  margin-left: -60%;
}











/*footer*/
footer {
  background: linear-gradient(to bottom right, #89023e, #89023e);
  padding: 40px;
}

footer .container .footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

footer .container .footer-grid .col {
  margin: 20px 0;
}

footer .container .footer-grid .col h2 {
  margin-bottom: 20px;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}

footer .container .footer-grid .col ul {
  list-style: none;
}

footer .container .footer-grid .col ul li {
  margin: 10px 0;
}

footer .container .footer-grid .col ul li a {
  color: #fff;
  text-transform: NONE;
  font-family: "Poppins", sans-serif;
}
/*# sourceMappingURL=styles.css.map */
